<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chameleon Test Page</title>
</head>
<body>
	<h1>Chameleon Test Page</h1>

	<h3>Referer Test</h3>
	<a href="/headers" id="refTest">Test referer</a>
	
	<script type="text/javascript">
	</script>
</body>
</html>