@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima_nova.eot');
  src: url('../fonts/proxima_nova.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova.woff') format('woff'),
         url('../fonts/proxima_nova.ttf') format('truetype'),
         url('../fonts/proxima_nova.svg#proxima_nova_altregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "Proxima Nova";
}

body {
  background-color: white;
  min-width: 340px;
  min-height: 400px;
  max-height: 450px;
  overflow-x: hidden;
}

input[name="domain"]:disabled {
  background-color: white;
  color: black;
}

input[type="radio"]:checked+label {
  color: olivedrab;
  font-weight: bold;
}

input[type="radio"].disabled:checked+label {
  color: grey;
  font-weight: bold;
}

a, label, p {
  font-size: 12px;
}

label {
  cursor: -webkit-grab;
  cursor: grab;
}

textarea {
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

#about img {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

#about a, #about p {
  font-size: 14px;
}

#interval {
  margin-bottom: 10px;
}

#interval button {
  margin-top: 5px;
}

#list_whitelistProfile {
  margin-bottom: 10px;
}

#list_whitelistProfile input {
  width: 96%;
}

#list_whitelistRules {
  margin-top: 10px;
  width: 100%;
}

#options a {
  text-decoration: none;
}

#profile table {
  width: 100%;
  margin-bottom: 5px;
}

#profile p {
  margin-bottom: 10px;
}

#ruleEdit {
  border: 2px solid black;
  padding: 3px;
}

.centered {
  text-align: center;
}

.groups li {
  background-color: #e5e4e4;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 2px;
  cursor: pointer;
}

.groups li:hover {
  background-color: #CECDCD;
}

.groups li.active {
  background-color: olivedrab;
  color: white;
}

.invalid {
  border: 2px solid red;
}

.ipAddr {
  padding: 5px;
}

.ipAddr input {
  font-size: 14px;
  font-weight: bold;
  margin-left: 45px;
}

.item {
  display: inline-block;
  width: 22.5%;
  height: 15px;
  background-color: olivedrab;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}

.item.about {
  display: inline-block;
  width: 10%;
  height: 15px;
  background-color: olivedrab;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}

.item.disabled {
  background-color: gray;
}

.item:hover {
  background-color: #7aa329;
}

.item.disabled:hover {
  background-color: darkgray;
}

.item.active {
  background-color: white;
  color: olivedrab;
  font-weight: bold;
}

.item.active.disabled {
  color: grey;
}

.item.active:hover {
  background-color: white;
}

.list {
  display: none;
  padding-left: 5px;
  padding-right: 5px;
}

.list.active {
  display: block;
}

.list_header {
  background-color: #e5e4e4;
  padding: 5px;
  font-size: 12px;
  width: 100%;
}

.opt {
  padding-top: 2px;
  padding-bottom: 2px;
}

.rule {
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.rule:hover {
  background-color: rgba(0,0,0,0.05);
}

.ruleButton {
  float: right;
  padding: 1px;
  width: 15px !important;
  text-align: center;
}

.ruleButton:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.rulePattern {
  display: block;
  width: 225px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab {
  padding: .4em .8em .4em .8em;
  display: none;
}

.tab.active {
  display: block;
}

/*
  Icons
*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u16zn9');
  src:  url('../fonts/icomoon.eot?u16zn9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u16zn9') format('truetype'),
    url('../fonts/icomoon.woff?u16zn9') format('woff'),
    url('../fonts/icomoon.svg?u16zn9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-bin:before {
  content: "\e9ac";
}

@media (max-width: 340px) {
  body {
    max-width: 340px;
    max-height: 450px;
  }
}