@font-face {
  font-family: 'Noto Sans';
  src: url('fonts/notosans.ttf')  format('truetype');
}

* {
  font-family: 'Noto Sans', sans-serif !important;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: white;
  min-height: 450px;
  max-height: 450px;
  min-width: 410px;
  max-width: 410px;
  overflow-x: hidden;
}

input[name="domain"]:disabled {
  background-color: white;
  color: black;
}

input[type="radio"]:checked+label {
  color: olivedrab;
  font-weight: bold;
}

input[type="radio"].disabled:checked+label {
  color: grey;
  font-weight: bold;
}

a, label, p {
  font-size: 12px;
}

label {
  cursor: -webkit-grab;
  cursor: grab;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

#about img {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

#about a, #about p {
  font-size: 14px;
}

#import-msg {
  padding: 20px;
}

#interval {
  margin-bottom: 10px;
}

#interval button {
  margin-top: 5px;
}

#list_whitelistProfile {
  margin-bottom: 10px;
}

#list_whitelistProfile input {
  width: 96%;
}

#list_whitelistRules {
  margin-top: 10px;
  width: 100%;
}

#options a {
  text-decoration: none;
}

#profile table {
  width: 100%;
  margin-bottom: 5px;
}

#profile p {
  margin-bottom: 10px;
}

#ruleEdit {
  border: 2px solid black;
  padding: 3px;
}

.centered {
  text-align: center;
}

.confirmation {
  background-color: rgba(0,0,0,0.05);
  padding: 10px;
  margin-top: 10px;
}

.content {
  padding: 20px;
  text-align: center;
}

.excludeall {
  font-size: 12px;
  float: right;
}

.groups li {
  background-color: #e5e4e4;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 2px;
  cursor: pointer;
}

.groups li:hover {
  background-color: #CECDCD;
}

.groups li.active {
  background-color: olivedrab;
  color: white;
}

.header-container {
  background-color: olivedrab;
  color: white;
  padding: 20px;
  text-align: center;
}

.header-container h1, h4 {
  margin: 0 !important;
}

.invalid {
  border: 2px solid red;
}

.ipAddr {
  padding: 5px;
}

.ipAddr input {
  font-size: 14px;
  font-weight: bold;
  margin-left: 45px;
}

.item {
  display: inline-block;
  width: 22.5%;
  height: 15px;
  background-color: olivedrab;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}

.item.about {
  display: inline-block;
  width: 10%;
  background-color: olivedrab;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}

.item.disabled {
  background-color: gray;
}

.item:hover {
  background-color: #7aa329;
}

.item.disabled:hover {
  background-color: darkgray;
}

.item.active {
  background-color: white;
  color: olivedrab;
  font-weight: bold;
}

.item.active.disabled {
  color: grey;
}

.item.active:hover {
  background-color: white;
}

.list {
  display: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.list.active {
  display: block;
}

.list_header {
  background-color: #e5e4e4;
  padding: 5px;
  font-size: 12px;
  width: 100%;
}

.opt {
  padding-top: 3px;
  padding-bottom: 3px;
}

.rule {
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.rule:hover {
  background-color: rgba(0,0,0,0.05);
}

.ruleButton {
  float: right;
  padding: 1px;
  width: 15px !important;
  text-align: center;
}

.ruleButton:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.rulePattern {
  display: block;
  width: 225px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-input {
  background-color: rgba(0,0,0,0.1);
  color: white;
  border-color: transparent;
}

.search-input:focus {
  border-color: transparent;
  border-bottom: 2px solid white;
}

.tab {
  padding: .4em .8em .4em .8em;
  display: none;
}

.tab.active {
  display: block;
}

select[name="timeZone"] {
  font-size: 12px;
}

.useragent {
  padding: 2px 0px;
}

.useragent.alt {
  background-color: rgba(107, 142, 35, .10);
}

.useragent:hover:not(:last-child), .useragent.alt:hover {
  background-color: rgba(87, 85, 217, .25);
}

.useragent input[type="checkbox"] {
  margin-top: 3px;
  margin-right: 3px;
}

.whitelist {
  margin-top: 10px;
}

.whitelist h5 {
  word-wrap: break-word;
}

.whitelist p {
  font-size: 15px;
  margin-top: 10px;
}

.whitelist div {
  margin-bottom: 5px;
}

@media only screen and (min-width: 480px) {
  body {
    min-width: 100% !important;
  }
}