@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans';
  src: url('notosans.ttf') format('truetype');
}

* {
  margin: 0;
  font-family: 'Noto Sans', sans-serif !important;
}

.bg-light {
  @apply text-dark;
}

.bg-light .fg {
  @apply bg-light-fg;
}

.bg-dark {
  @apply text-light;
}

.bg-dark .fg {
  @apply bg-dark-fg;
}

.bg-dark .cursor-pointer.fg:hover,
.bg-dark .group.fg:hover {
  @apply bg-dark-fg-alt;
}

.bg-light .cursor-pointer.fg:hover,
.bg-light .group.fg:hover {
  @apply bg-light-fg-alt;
}

.group {
  @apply flex-grow items-center px-2 py-1 mb-1;
}

.group.active {
  @apply bg-primary text-light;
}
.group.active.fg:hover {
  @apply bg-primary text-light;
}

.group-options {
  @apply flex flex-1 justify-center cursor-pointer;
}

.group-options.fg:hover {
  @apply bg-dark-fg-alt;
}

.group-options.fg:hover {
  @apply bg-light-fg-alt;
}

.profile-item {
  @apply -mx-3 px-3 flex justify-between py-1;
}

.profile-item.bg-dark-fg:hover {
  @apply bg-dark-fg-alt;
}

.profile-item.bg-light-fg:hover {
  @apply bg-light-fg-alt;
}

.tab {
  @apply px-2 pt-2 pb-1 cursor-pointer text-light;
}

.app.bg-light .tab.active {
  @apply text-primary;
}

.app.bg-dark .tab.active {
  @apply text-light;
}

.options-tab {
  @apply px-4 py-1 cursor-pointer text-light;
}

.bg-light .options-tab.active {
  @apply text-primary;
}

.bg-dark .options-tab.active {
  @apply text-light;
}

.about-btn {
  @apply bg-transparent py-2 px-4 border border-primary-soft rounded block mb-4 mr-4;
}

.about-btn:hover {
  @apply bg-primary-soft text-white border-transparent;
}

input,
select {
  @apply text-dark;
}
