@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans';
  src: url('notosans.ttf') format('truetype');
}

* {
  margin: 0;
  font-family: 'Noto Sans', sans-serif !important;
}

.bg-light {
  @apply text-dark;
}

.bg-dark {
  @apply text-light;
}

input, select {
  @apply text-dark;
}

.cursor-pointer.bg-dark-fg:hover {
  @apply bg-dark-fg-alt;
}

.cursor-pointer.bg-light-fg:hover {
  @apply bg-light-fg-alt;
}

.group {
  @apply flex-grow items-center px-2 py-1 mb-1;
}

.group.active {
  @apply bg-primary text-light;
}

.group-options {
  @apply flex flex-1 justify-center cursor-pointer;
}

.group-options.bg-dark-fg:hover {
  @apply bg-dark-fg-alt;
}

.group-options.bg-light-fg:hover {
  @apply bg-light-fg-alt;
}

.group.active:hover {
  @apply bg-primary text-light;
}

.profile-item {
  @apply -mx-3 px-3 flex justify-between py-1;
}

.profile-item.bg-dark-fg:hover {
  @apply bg-dark-fg-alt;
}

.profile-item.bg-light-fg:hover {
  @apply bg-light-fg-alt;
}

.tab {
  @apply px-2 pt-2 pb-1 cursor-pointer;
}

.tab {
  @apply text-light;
}

.tab.active {
  @apply text-primary;
}
