<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Chameleon Injection Test</title>
	</head>
	<body>
		<a id="link" href="/">Click me!</a>
		<a id="link2" onclick="windowTest();">Window Name Test</a>
		<p id="offset"><script>document.write(new Date().getTimezoneOffset());</script></p>
		<h1 id="client_rect">Lorem ipsum.</h1>
	</body>
	<script>
		function windowTest() {
			window.open('/', 'unique_name');
		}
	</script>
</html>