name: Chameleon Dev Build

on:
  push:
    tags:
      - v**-alpha**
      - v**-beta**
      - v**-rc**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Build extension
        run: |
          npm install
          npm install --global web-ext
          npm run build
      - name: Sign extension
        run: |
          web-ext sign -s ./dist --channel unlisted
          mv ./web-ext-artifacts/$(ls web-ext-artifacts) ./web-ext-artifacts/chameleon_$(git describe --tags).signed.xpi
        env:
          WEB_EXT_API_KEY: ${{ secrets.WEBEXT_API_KEY }}
          WEB_EXT_API_SECRET: ${{ secrets.WEBEXT_API_SECRET }}
      - name: Generate variables
        id: chameleon
        run: |
          echo "{VERSION}={$(git describe --tags)}" >> $GITHUB_OUTPUT
          echo "{FILENAME}={chameleon_$(git describe --tags).signed.xpi}" >> $GITHUB_OUTPUT
          CHANGELOG=$(python3 ./.github/workflows/dev/chglog.py)
          CHANGELOG="${CHANGELOG//$'%'/%25}"
          CHANGELOG="${CHANGELOG//$'\n'/%0A}"
          CHANGELOG="${CHANGELOG//$'\r'/%0D}"
          echo "{CHANGELOG}={$CHANGELOG}" >> $GITHUB_OUTPUT
      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.chameleon.outputs.VERSION }}
          name: Chameleon Dev ${{ steps.chameleon.outputs.VERSION }}
          body: |
            ${{ steps.chameleon.outputs.CHANGELOG }}
          draft: false
          prerelease: true
          files: ./web-ext-artifacts/${{ steps.chameleon.outputs.FILENAME }}
