name: Chameleon Legacy Build

on:
  push:
    tags:
      - v**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Build extension
        run: |
          npm install
          npm install --global web-ext
          python3 ./.github/workflows/android/update_manifest.py
          npm run build
      - name: Sign extension
        run: |
          web-ext sign -s ./dist --channel unlisted
          mv ./web-ext-artifacts/$(ls web-ext-artifacts) ./web-ext-artifacts/chameleon_$(git describe --tags).signed.xpi
        env:
          WEB_EXT_API_KEY: ${{ secrets.WEBEXT_API_KEY }}
          WEB_EXT_API_SECRET: ${{ secrets.WEBEXT_API_SECRET }}
      - name: Generate variables
        id: chameleon
        run: |
          echo "{VERSION}={$(git describe --tags)}" >> $GITHUB_OUTPUT
          echo "{FILENAME}={chameleon_$(git describe --tags).signed.xpi}" >> $GITHUB_OUTPUT
      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.chameleon.outputs.VERSION }}
          name: Chameleon Legacy Build ${{ steps.chameleon.outputs.VERSION }}
          body: 'This version of Chameleon is for users using an older version Firefox 75 and would like to have Chameleon control their privacy settings. More info can be found [here](https://sereneblue.github.io/chameleon/wiki/legacy).'
          draft: false
          prerelease: false
          files: ./web-ext-artifacts/${{ steps.chameleon.outputs.FILENAME }}
